    <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
<body>
    <h1>Page down at the moment...be right back</h1>
    <p>Mkay?</p>
</body>
</html>